html {
    height: 100%;
}

body {
    font-family: "Cardo", serif;
    font-weight: 300;
    color: #8f8f8f;
}

/*.navbar {
    list-style: none;
    background: cornflowerblue;
    padding: 30px;
    font-size: 20px;
    border-radius: 10px;
}

.navbar a {
    color: white;
}

.navbar a:focus, .navbar a:hover {
    color: #e2e2e2;
    text-decoration: underline;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}  */

.main_h {
    position: fixed;
    top: 0px;
    max-height: 70px;
    width: 100%;
    padding-top: 17px;
    background: none;
    padding-bottom: 6px;
    font-family: Ubuntu-Bold;

    color: #8f8f8f;
    background: white;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.93);
    border-bottom: 1px solid gainsboro;
}

.open-nav {
    max-height: 400px !important;
}

nav {
    float: right;
    width: 60%;
}

nav ul {
    list-style: none;
    text-align: right;
    float: right;
}

nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
}

nav ul a {
    color: #888888;
    text-transform: uppercase;
    font-size: 16px;
}


.row {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
}

.logo {
    width: 50px;
    font-size: 25px;
    color: #8f8f8f;
    text-transform: uppercase;
    float: left;
    display: block;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 10px;
}

td, th {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

label {
    display: block;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    padding-top: 90px;
}

#login-text {
    padding: 0;
}

#register-page {
    background-image: url("changed.jpg");
}

p {
    text-align: center;
}

a {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}

.users-tab-active {
    color: #12304a;
    text-decoration: underline;
}

.navbar-right {
    float: right;
}

.navbar-right li {
    margin-right: 0;
}

.footer-elements {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.footer-elements li {
    display: inline-block;
}

.button {
    /*
    font-size: 18px;
    display: inline-block;
    */
    color: #fff;
    background-color: #827ffe;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 20px;
    width: 100%;
    height: 62px;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s ease;
}

.button:hover {
    background-color: #403866;
}

.users-tab {
    display: inline-block;
}

table {
    margin-left: -10px;
    margin-right: -10px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

* {box-sizing: border-box}

.container {
    padding: 16px;
}

/* Full-width input fields */
input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.checkbox {
    width: auto;
}

input:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn:hover {
    opacity:1;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group li {
    display: block;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    color: #ffffff;
    background: #827ffe;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}
.tab-group li:hover {
    background: #6e66fe;
}

.form {
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    background-color: white;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 50%;
}